* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header {
    background: #5454D4;
    padding: 20px;
    background-image: url("img/naushnik.png");
    background-repeat: no-repeat;
    background-position: left;

}



.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-container-list {
    display: flex;
}


.nav-container-item {
    margin: 0 10px;
}

.nav-container-list2 {
    display: flex;
    align-items: center;
}

.nav-container-item2 {
    margin: 0 10px;
}

.nav-container-link {
    text-decoration: none;
    font-family: CircularStd;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.500211px;

    color: #FFFFFF;
    transition: 0.4s;
}

.nav-container-link:hover {
    text-decoration: underline;

}


.nav-container-info {
    font-family: CircularStd;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;

    color: #FFFFFF;

}


.nav-container-text {
    font-family: CircularStd;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.500211px;

    color: #FFFFFF;
}

.header-info {
    width: 60%;
    margin-left: 500px;
    padding: 100px;

}

.header-title {
    font-family: CircularStd;
    font-size: 54px;
    line-height: 70px;
    /* or 117% */

    letter-spacing: -1.87579px;

    color: #FFFFFF;

}


.header-text {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 39px;
    /* or 186% */

    letter-spacing: -0.656526px;

    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;

}

.header-text-bottom {
    margin-top: 30px;
    width: 322px;
    height: 131px;
    background: #6565E9;
    border-radius: 10px;
    padding: 5px 15px;
}

.text-bottom-list {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.text-bottom-item {
    margin: 0 10px;
}

.text-bottom-link {
    background: #77BF41;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: CircularStd;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.500211px;

    color: #FFFFFF;
    transition: 0.4s;

}

.text-bottom-link:hover {
    background-color: #386913;
    text-decoration: underline;
}


.bottom-item-text {
    margin-left: 15px;
    font-family: CircularStd;
    font-size: 21px;
    line-height: 90px;
    /* identical to box height, or 429% */

    letter-spacing: -0.926861px;

    color: rgba(255, 255, 255, 0.7);

}

.bottom-item-title {

    font-family: CircularStd;
    font-size: 60px;
    line-height: 40px;
    /* identical to box height, or 150% */

    letter-spacing: -1.87579px;

    color: #FFFFFF;
}


.header-list {
    display: flex;
    align-items: center;
    background: #F7F7FB;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    margin-top: 20px;
}

.item-header-info {
    margin-right: 10px;
}



.item-header-img1 {
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: grey;
    padding: 2px 3px;
    transition: 0.3s;

}

.item-header-img1:hover {
    background-color: rgb(197, 176, 176);
}

.item-header-img2:hover {
    background-color: rgb(197, 176, 176);
}

.item-header-img2 {
    position: absolute;

    right: 10px;
    bottom: 8px;
    padding: 4px 3px;
    background-color: grey;
    transition: 0.3s;

}


.header-list-container-link-link {
    background: #FEDC5A;
    border: 1px solid #F0C931;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
    font-family: CircularStd;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;

    color: rgba(0, 0, 0, 0.788926);
    margin-left: 10px;
    transition: 0.3s;
    margin-bottom: 30px;

}

.header-list-container-link-link:hover {
    background-color: rgb(144, 136, 64);
}

.section .container {
    background-image: url("img/kich-naushnik.png");
    background-repeat: no-repeat;
    background-position: right;
}


.section-info {
    width: 50%;
    margin-top: 40px;
    height: 655px;
}

.section-info-paragraph {
    font-family: CircularStd;
    font-size: 60px;
    line-height: 70px;
    /* or 117% */

    letter-spacing: -1.87579px;

    color: #19191B;

}

.section-info-text {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 39px;
    /* or 186% */

    letter-spacing: -0.656526px;

    color: #696871;
    margin-top: 20px;

}


.section-info-list {
    display: flex;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    width: 350px;
    height: 90px;
    padding: 5px 15px;
    margin-top: 20px;
}

.section-info-list-text {
    margin-left: 10px;
}

.section-info-title {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;

    color: #19191B;

}

.section-info-list-text {
    font-family: CircularStd;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.656526px;
    color: #696871;

}


.section-sidebar {
    background: #413E65;
}


.section-sidebar .container {
    padding: 80px;
}



.section-sidebar-info {
    font-family: CircularStd;
    font-size: 60px;
    line-height: 70px;
    /* or 117% */

    text-align: center;
    letter-spacing: -1.87579px;

    color: #FFFFFF;
    margin-top: 30px;

}


.section-sidebar-title {
    display: flex;
    margin-top: 30px;
    align-items: center;
    padding: 10px 20px;
}

.section-sidebar-title-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px;
    width: 348px;
    height: 80px;
}


.title-title {
    margin-left: 100px;
}

.section-content .container {
    padding: 40px;

}

.section-content-info {
    font-family: CircularStd;
    font-size: 60px;
    line-height: 70px;
    /* identical to box height, or 117% */

    text-align: center;
    letter-spacing: -1.87579px;

    color: #19191B;

}

.section-content-text {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 39px;
    /* or 186% */

    text-align: center;
    letter-spacing: -0.656526px;

    color: #696871;
    width: 627px;
    margin-left: 200px;
    margin-top: 30px;
}

.section-content-photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}



.header-content .container {
    background-image: url("img/Bg6.png");
    background-repeat: no-repeat;
    width: 1340px;
    height: 790px;
}

.header-content-title {
    font-family: CircularStd;
    font-size: 60px;
    line-height: 70px;
    /* or 117% */

    letter-spacing: -1.87579px;

    color: #FFFFFF;
    margin-bottom: 30px;
}

.header-content-info {
    width: 50%;
    padding-top: 280px;
    margin-left: 50px;
}

.header-content-text {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 39px;
    /* or 186% */

    letter-spacing: -0.656526px;

    color: #FFFFFF;
    margin-bottom: 30px;

}

.header-content-link {
    background: #FEDC5A;
    border: 1px solid #F0C931;
    border-radius: 5px;
    font-family: CircularStd;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;

    color: rgba(0, 0, 0, 0.788926);
    text-decoration: none;
    padding: 8px 16px;
    transition: 0.3s;
}

.header-content-link:hover {
    background-color: #ddab17;
}


.main-info {
    font-family: CircularStd;
    font-size: 60px;
    line-height: 70px;
    /* identical to box height, or 117% */

    text-align: center;
    letter-spacing: -1.87579px;

    color: #19191B;
    

}

.main-text {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 39px;
    /* or 186% */

    text-align: center;
    letter-spacing: -0.656526px;

    color: #696871;
}



.main-title-text {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 39px;
    /* or 186% */

    letter-spacing: -0.656526px;

    color: #19191B;
    margin-top:20px;

}

.main-info-item{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.main-title {
    width: 45%;
   
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    padding:20px;
    margin-top:20px;
}


.main-title-list {
    display: flex;
    align-items: center;
    margin:0 15px;
}


.main-title-info-info {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 28px;
    /* identical to box height, or 133% */

    letter-spacing: -0.656526px;

    color: #19191B;
    margin-top:20px;
    margin-left:25px;
}

.main-title-info-text {
    font-family: CircularStd;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    letter-spacing: -0.500211px;

    color: #696871;
    margin-left: 20px;
    margin-top:10px;

}